<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Топ Диал - Транспортная компания
    </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    
    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
    </script>
    <![endif]-->
  </head>
  <body>

  <!-- Header area wrapper starts -->
    <header id="header-wrap">
      <!-- Header area starts -->
      <section id="header">

        <!-- Navbar Starts -->
        <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
          <div class="container">
            <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
              ☰
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="index.html">
              <img src="assets/img/logo.png" alt="">
            </a>
            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
              <!-- Navbar Starts -->
              <ul class="nav nav-inline">
                <li class="nav-item dropdown">
                  <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Главная</a>
                </li>                                     
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    О нас
                  </a>
                </li>             
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Услуги
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Новости
                  </a>
                </li> 
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Контакты
                  </a>
                </li>          
                <!-- Search in right of nav -->
                <li class="nav-item" class="search">
                  <form class="top_search clearfix">
                    <div class="top_search_con">
                      <input class="s" placeholder="Искать" type="text">
                      <span class="top_search_icon"><i class="icon-magnifier"></i></span>
                      <input class="top_search_submit" type="submit">
                    </div>
                  </form>
                </li>
                <!-- Search Ends -->                  
              </ul>  
            </div>              
              <!-- Form for navbar search area -->
              <form class="full-search">
                <div class="container">
                  <input type="text" placeholder="Поиск">
                  <a href="#" class="close-search">
                    <span class="fa fa-times fa-2x">
                    </span>
                  </a>
                </div>
              </form>
              <!-- Search form ends -->
          </div>
        </nav>
        <!-- Navbar Ends -->

      </section> 
    <!-- Start Content -->

      <div class="container">
          <div class="row text-center">
                <h1>Транспортная логистика<br> высокого уровня</h1>
                <a rel="nofollow" href="#" class="btn btn-common btn-lg">Связаться c нами</a>
          </div>
      </div>

      <div class="main-arrow">
        <svg class="arrows">
          <path class="a1" d="M0 0 L15 16 L30 0"></path>
          <path class="a2" d="M0 10 L15 26 L30 10"></path>
          <path class="a3" d="M0 20 L15 36 L30 20"></path>
        </svg>
      </div>
    <!-- End Content -->
    </header>
    <!-- Header-wrap Section End -->


    <!-- Service Block-1 Section -->
    <section id="service-block-main" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">        
          <h1 class="section-title">
           Почему мы?
          </h1>
          <p class="section-subcontent">Преимущества работы с нами</p>
          <div class="col-sm-6 col-md-3">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item">
              <div class="icon-wrapper">
                <i class="icon-layers pulse-shrink">
                </i>
              </div>
              <h2>
                7/24
              </h2>
              <p>Мы постоянно на связи и готовы в любой момент обсудить с вами возникшие вопросы.</p>
            </div>
            <!-- Service-Block-1 Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item">
              <div class="icon-wrapper">
                <i class="icon-settings pulse-shrink">
                </i>
              </div>
              <h2>
                Спецтехника
              </h2>
              <p>У нас есть возможность обработать груз на складах консолидации</p>
            </div>
            <!-- Service-Block-1 Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item">
              <div class="icon-wrapper">
                <i class="icon-energy pulse-shrink">
                </i>
              </div>
              <h2>
                Оперативность
              </h2>
              <p>У нас всегда есть несколько дополнительных траков, что позволяет нам в любое время подать машину для
                вывоза любых грузов.</p>
            </div>
            <!-- Service-Block-1 Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Service-Block-1 Item Starts -->
            <div class="service-item">
              <div class="icon-wrapper">
                <i class="icon-cup pulse-shrink">
                </i>
              </div>
              <h2>
                Сервис
              </h2>
              <p>Мы очень быстро решаем любую проблему,будь то задержка документов, поломка машины и т.д.</p>
            </div>
          </div><!-- Service-Block-1 Item Ends -->
        </div>
      </div><!-- Container Ends -->
    </section><!-- Service Main Section Ends -->

    <!-- Featured Section Starts -->
    <section id="featured" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <h2 class="section-title">
            Полный комплекс складской обработки
          </h2>
          <p class="section-subcontent">Складская обработка + Сборный сервис – одна из услуг
            компании ТОП ДИАЛ. Мы заберем груз из любой части России, либо вывезем его из порта или аэропорта и доставим на склады консолидации в Санкт-Петербурге или Москве.
          </p>
          <!-- Start Service Icon 1 -->
          <div class="col-md-3 col-sm-6" >
            <div class="featured-box">
              <div class="featured-icon">
                <i class="icon-present">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                 Временное хранение
                </h4>
                <p>
                  Аренда складов для хранения до погрузки на транспорт.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-md-3 col-sm-6">
            <div class="featured-box">
              <div class="featured-icon">
                <i class="icon-rocket">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Перетарка
                </h4>
                <p>
                  Перетарка или кросс-докинг — перегрузка товара из одного транспортного средства в другое.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-md-3 col-sm-6">
            <div class="featured-box">
              <div class="featured-icon">
                <i class="icon-pencil">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Долговременное хранение
                </h4>
                <p>
                  Аренда помещения для долговременного хранения вашего груза.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
          <!-- Start featured Icon 1 -->
          <div class="col-md-3 col-sm-6">
            <div class="featured-box">
              <div class="featured-icon">
                <i class="icon-diamond icon-large icon-effect">
                </i>
              </div>
              <div class="featured-content">
                <h4>
                  Особые условия обработки груза
                </h4>
                <p>
                  В случае необходимости, обеспечим необходимую обработку вашего груза.
                </p>
              </div>
            </div>
          </div>
          <!-- End featured Icon 1 -->
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Featured Section Ends -->

    <!-- Team Section -->
    <section id="team" class="section">
      <!-- Container Starts -->
      <div class="container">        
        <!-- Row Starts -->
        <div class="row">
					<h2 class="section-title">Наша команда</h2>
	        <p class="section-subcontent">
          За нашими плечами огромный опыт работы в области крупномасштабной и сложной логистики.
            Мы умеем выполнять даже самые сложные задачи.</p>
          <div class="col-sm-6 col-md-3">
	          <!-- Team Item Starts -->
	        	<div class="team-item">
	            <figure class="team-profile">
	              <img src="assets/img/team/team-01.jpg" alt="">
	              <!--<figcaption class="our-team">-->
	                <!--<div class="details">-->
	                	<!--<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
		               <!--<div class="orange-line"></div>-->
		               <!--<div class="social"> -->
			               <!--<a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> -->
			               <!--<a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> -->
			               <!--<a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>-->
		               <!--</div>-->
	                <!--</div>-->
		            <!--</figcaption>-->
	            </figure>
	            <div class="info">
	              <h2>
	                Алексей Ильичев
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                Генеральный директор
	              </p>
	            </div>
	          </div>
	          <!-- Team Item Ends -->
          </div>

          <div class="col-sm-6 col-md-3">
          	<!-- Team Item Starts -->
            <div class="team-item">
             <figure class="team-profile">
	               <img src="assets/img/team/team-02.jpg" alt="">
	              <!--<figcaption class="our-team">-->
	                <!--<div class="details">-->
	                	<!--<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
		               <!--<div class="orange-line"></div>-->
		               <!--<div class="social"> -->
			               <!--<a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> -->
			               <!--<a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> -->
			               <!--<a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>-->
		               <!--</div>-->
	                <!--</div>-->
		            <!--</figcaption>-->
	            </figure>
	            <div class="info">
	              <h2>
	                Дмитрий Максимов
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                Коммерческий директор
	              </p>
	            </div>
            </div><!-- Team Item Starts -->
          </div>

          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item">
              <figure class="team-profile">
	                <img src="assets/img/team/team-03.jpg" alt="">
	              <!--<figcaption class="our-team">-->
	                <!--<div class="details">-->
	                	<!--<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
		               <!--<div class="orange-line"></div>-->
		               <!--<div class="social"> -->
			               <!--<a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> -->
			               <!--<a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> -->
			               <!--<a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>-->
		               <!--</div>-->
	                <!--</div>-->
		            <!--</figcaption>-->
	            </figure>
	            <div class="info">
	              <h2>
	                Иван Иванов
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                Старший менеджер
	              </p>
	            </div>
            </div>
            <!-- Team Item Ends -->
          </div>
          
          <div class="col-sm-6 col-md-3">
            <!-- Team Item Starts -->
            <div class="team-item">
              <figure class="team-profile">
	              <img src="assets/img/team/team-04.jpg" alt="">
	              <!--<figcaption class="our-team">-->
	                <!--<div class="details">-->
	                	<!--<p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
		               <!--<div class="orange-line"></div>-->
		               <!--<div class="social"> -->
			               <!--<a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> -->
			               <!--<a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> -->
			               <!--<a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>-->
		               <!--</div>-->
	                <!--</div>-->
		            <!--</figcaption>-->
	            </figure>
	            <div class="info">
	              <h2>
	                Сергей Петров
	              </h2>
	              <div class="orange-line"></div>
	              <p>
	                Менеджер логистики
	              </p>
	            </div>
            </div><!-- Team Item Ends -->
          </div>          
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>
    <!-- Team Section End -->

    <!-- Testimonial Section -->
    <section id="testimonial" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <div id="testimonial-item" class="owl-carousel">
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img1.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Удобно, быстро, качественно в срок
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Сергей Иванов <a href="#">site.com </a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img2.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Осталось очень довольна сотрудничеством. Буду всем рекомендовать!
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Екатерина Иванова<a href="#">site.ru</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img3.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Работаю только с ними. Они лучшие.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Павел Федоров<a href="#">site.de</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img4.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Все понравилось. Отлично!
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                    Яна Иванова<a href="#">ООО "Организация"</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-inner">
                  <div class="testimonial-images">
                    <img class="img-circle" src="assets/img/testimonial/img5.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                    <p>
                      Все было круто.
                    </p>
                  </div>
                  <div class="testimonial-footer">
                    <i class="fa fa-quote-left"></i>
                   Ярослав Иванов<a href="#">ООО "Доставка"</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Testimonial Section End -->                

    <!-- Clients Section -->
    <section id="clients" class="section">
      <!-- Container Ends -->
      <div class="container">
        <h2 class="section-title wow fadeInUpQuick" data-wow-delay=".5s">
          Наши клиенты
        </h2>
        <p class="section-subcontent">С нами уже работают</p>
        <div class="wow fadeInUpQuick" data-wow-delay=".2s">
          <!-- Row and Scroller Wrapper Starts -->
          <div class="row" id="clients-scroller">
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img1.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img2.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img3.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img4.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img5.png" alt="">
            </div>
            <div class="client-item-wrapper">
              <img src="assets/img/clients/img6.png" alt="">
            </div>
          </div><!-- Row and Scroller Wrapper Starts -->
        </div>
      </div><!-- Container Ends -->
    </section>
    <!-- Client Section End -->        
    
    <!-- Footer Section -->
    <footer>
      <!-- Copyright -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <p class="copyright-text">
                ©  2018 ООО "Топ Диал"
              </p>
            </div>
            <div class="col-md-6  col-sm-6">
              <ul class="nav nav-inline pull-xs-right">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sitemap</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Правовая информация</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Реквизиты</a>
                </li>
              </ul>        
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->
      
    </footer>
    <!-- Footer Section End-->
    
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a>
    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- JavaScript & jQuery Plugins -->
    <!-- jQuery Load -->
    <script src="assets/js/jquery-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!--Text Rotator-->
    <script src="assets/js/jquery.mixitup.js"></script>
    <!--WOW Scroll Spy-->
    <script src="assets/js/wow.js"></script>
    <!-- OWL Carousel -->
    <script src="assets/js/owl.carousel.js"></script>
 
    <!-- WayPoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- ScrollTop -->
    <script src="assets/js/scroll-top.js"></script>
    <!-- Appear -->
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
     <!-- All JS plugin Triggers -->
    <script src="assets/js/main.js"></script>
  </body>
</html>